@import "./dataTable.css";
@import "./sidebar.css";

body {
  font-family: 'Inter', sans-serif !important;
}

h5 {
  font-family: 'Inter', sans-serif !important;
}

.detail-table-header {
  color: #00000090;
  padding: 8px 0px;
}

.detail-table-cell {
  padding: 8px 0px;
}

tr.overview-table-header th {
  color: #00000090;
}

.form-container {
  width: 50%;
  padding: 20px;
}

.scroll-container {
  overflow-y: auto;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
}

.fixed-footer {
  z-index: 10;
}

.toast-container {
  bottom: 50px !important;
  right: 0px !important;
}

.word-wrap {
  word-break: break-word;
  overflow-wrap: break-word;
}

.hide-field-switch {
  font-size: 12px;
  cursor: pointer;
}

.editor {
  font-family: "Inter Mono", monospace;
  white-space: pre;
  overflow-x: auto;
  overflow-y: auto;
}
