package inventory

import (
	"time"

	incusapi "github.com/lxc/incus/v6/shared/api"
)

type {{ .Name | pascalcase }} struct {
	ID          int
	ClusterID   int
	ServerID    int
{{- if .HasProject }}
	ProjectName string
{{- end }}
	Name        string
	Object      incusapi.{{ .ObjectType | pascalcase }}
	LastUpdated time.Time
}

func (s {{ .Name | pascalcase }}) Validate() error {
	return nil
}

type {{ .PluralName | camelcase }} []Instance
