package inventory_test

import (
	"testing"

	"github.com/lxc/incus/v6/shared/api"
	"github.com/stretchr/testify/require"

	"github.com/FuturFusion/operations-center/internal/domain"
	"github.com/FuturFusion/operations-center/internal/inventory"
	"github.com/FuturFusion/operations-center/internal/ptr"
	"github.com/FuturFusion/operations-center/internal/testing/uuidgen"
)

func TestIncus{{ .ObjectType | pascalcase }}Wrapper_Value(t *testing.T) {
	tests := []struct {
		name string

		{{ .ObjectType | camelcase }} inventory.Incus{{ .ObjectType | pascalcase }}Wrapper

		assertErr require.ErrorAssertionFunc
	}{
		{
			name: "success",

			{{ .ObjectType | camelcase }}: inventory.Incus{{ .ObjectType | pascalcase }}Wrapper{
				{{ .ObjectType | pascalcase }}: api.{{ .ObjectType | pascalcase }}{},
			},

			assertErr: require.NoError,
		},
	}

	for _, tc := range tests {
		t.Run(tc.name, func(t *testing.T) {
			_, err := tc.{{ .ObjectType | camelcase }}.Value()

			tc.assertErr(t, err)
		})
	}
}

func TestIncus{{ .ObjectType | pascalcase }}Wrapper_Scan(t *testing.T) {
	tests := []struct {
		name string

		value any

		assertErr require.ErrorAssertionFunc
	}{
		{
			name: "success - []byte",

			value: []byte(`{}`),

			assertErr: require.NoError,
		},
		{
			name: "success - string",

			value: `{}`,

			assertErr: require.NoError,
		},
		{
			name: "error - nil",

			assertErr: require.Error,
		},
		{
			name: "error - unsupported type",

			value: 1, // not supported for Incus{{ .ObjectType | pascalcase }}Wrapper

			assertErr: require.Error,
		},
	}

	for _, tc := range tests {
		t.Run(tc.name, func(t *testing.T) {
			updateFiles := inventory.Incus{{ .ObjectType | pascalcase }}Wrapper{}

			err := updateFiles.Scan(tc.value)

			tc.assertErr(t, err)
		})
	}
}

func Test{{ .Name | pascalcase }}_Validate(t *testing.T) {
	tests := []struct {
		name  string
		{{ .Name | camelcase }} *inventory.{{ .Name | pascalcase }}

		assertErr require.ErrorAssertionFunc
	}{
		{
			name: "valid",
			{{ .Name | camelcase }}: (&inventory.{{ .Name | pascalcase }}{
				ID:          1,
				Cluster:     "one",
{{- if .ServerIDByLocation }}
	{{- if .IsServerIDOptional }}
				Server:      ptr.To("one"),
	{{- else }}
				Server:      "one",
	{{- end }}
{{- end }}
{{- if .HasProjectDirect }}
				ProjectName: "project one",
{{- end }}
{{- if .HasParent }}
				{{ .ParentName | pascalcase }}Name: "{{ .ParentName | camelcase }} one",
{{- end }}
				Name:        "one",
			}).DeriveUUID(),

			assertErr: require.NoError,
		},
		{
			name: "error - invalid cluster ID",
			{{ .Name | camelcase }}: (&inventory.{{ .Name | pascalcase }}{
				ID:          1,
				Cluster:     "", // invalid
{{- if .ServerIDByLocation }}
	{{- if .IsServerIDOptional }}
				Server:      ptr.To("one"),
	{{- else }}
				Server:      "one",
	{{- end }}
{{- end }}
{{- if .HasProjectDirect }}
				ProjectName: "project one",
{{- end }}
{{- if .HasParent }}
				{{ .ParentName | pascalcase }}Name: "{{ .ParentName | camelcase }} one",
{{- end }}
				Name:        "one",
			}).DeriveUUID(),

			assertErr: func(tt require.TestingT, err error, a ...any) {
				var verr domain.ErrValidation
				require.ErrorAs(tt, err, &verr, a...)
			},
		},
{{- if and .ServerIDByLocation ( not .IsServerIDOptional ) }}
		{
			name: "error - invalid project name",
			{{ .Name | camelcase }}: (&inventory.{{ .Name | pascalcase }}{
				ID:          1,
				Cluster:     "one",
				Server:      "", // invalid
{{- if .HasProjectDirect }}
				ProjectName: "project one",
{{- end }}
{{- if .HasParent }}
				{{ .ParentName | pascalcase }}Name: "{{ .ParentName | camelcase }} one",
{{- end }}
				Name:        "one",
			}).DeriveUUID(),

			assertErr: func(tt require.TestingT, err error, a ...any) {
				var verr domain.ErrValidation
				require.ErrorAs(tt, err, &verr, a...)
			},
		},
{{- end }}
{{- if .HasProjectDirect }}
		{
			name: "error - invalid project name",
			{{ .Name | camelcase }}: (&inventory.{{ .Name | pascalcase }}{
				ID:          1,
				Cluster:     "one",
{{- if .ServerIDByLocation }}
	{{- if .IsServerIDOptional }}
				Server:      ptr.To("one"),
	{{- else }}
				Server:      "one",
	{{- end }}
{{- end }}
				ProjectName: "", // invalid
{{- if .HasParent }}
				{{ .ParentName | pascalcase }}Name: "{{ .ParentName | camelcase }} one",
{{- end }}
				Name:        "one",
			}).DeriveUUID(),

			assertErr: func(tt require.TestingT, err error, a ...any) {
				var verr domain.ErrValidation
				require.ErrorAs(tt, err, &verr, a...)
			},
		},
{{- end }}
{{- if .HasParent }}
		{
			name: "error - invalid project name",
			{{ .Name | camelcase }}: (&inventory.{{ .Name | pascalcase }}{
				ID:          1,
				Cluster:     "one",
{{- if .ServerIDByLocation }}
	{{- if .IsServerIDOptional }}
				Server:      ptr.To("one"),
	{{- else }}
				Server:      "one",
	{{- end }}
{{- end }}
{{- if .HasProjectDirect }}
				ProjectName: "project one",
{{- end }}
				{{ .ParentName | pascalcase }}Name: "", // invalid
				Name:        "one",
			}).DeriveUUID(),

			assertErr: func(tt require.TestingT, err error, a ...any) {
				var verr domain.ErrValidation
				require.ErrorAs(tt, err, &verr, a...)
			},
		},
{{- end }}
		{
			name: "error - invalid name",
			{{ .Name | camelcase }}: (&inventory.{{ .Name | pascalcase }}{
				ID:          1,
				Cluster:     "one",
{{- if .ServerIDByLocation }}
	{{- if .IsServerIDOptional }}
				Server:      ptr.To("one"),
	{{- else }}
				Server:      "one",
	{{- end }}
{{- end }}
{{- if .HasProjectDirect }}
				ProjectName: "project one",
{{- end }}
{{- if .HasParent }}
				{{ .ParentName | pascalcase }}Name: "{{ .ParentName | camelcase }} one",
{{- end }}
				Name:        "", // invalid
			}).DeriveUUID(),

			assertErr: func(tt require.TestingT, err error, a ...any) {
				var verr domain.ErrValidation
				require.ErrorAs(tt, err, &verr, a...)
			},
		},
		{
			name: "error - UUID not derived",
			{{ .Name | camelcase }}: &inventory.{{ .Name | pascalcase }}{
				ID:          1,
				Cluster:     "one",
{{- if .ServerIDByLocation }}
	{{- if .IsServerIDOptional }}
				Server:      ptr.To("one"),
	{{- else }}
				Server:      "one",
	{{- end }}
{{- end }}
{{- if .HasProjectDirect }}
				ProjectName: "project one",
{{- end }}
{{- if .HasParent }}
				{{ .ParentName | pascalcase }}Name: "{{ .ParentName | camelcase }} one",
{{- end }}
				Name:        "one",
			}, // UUID not derived

			assertErr: func(tt require.TestingT, err error, a ...any) {
				var verr domain.ErrValidation
				require.ErrorAs(tt, err, &verr, a...)
			},
		},
	}

	for _, tc := range tests {
		t.Run(tc.name, func(t *testing.T) {
			err := tc.{{ .Name | camelcase }}.Validate()

			tc.assertErr(t, err)
		})
	}
}

func Test{{ .Name | pascalcase }}_Filter(t *testing.T) {
	tests := []struct {
		name  string
		filter inventory.{{ .Name | pascalcase }}Filter

		want string
	}{
		{
			name: "empty filter",
			filter: inventory.{{ .Name | pascalcase }}Filter{},

			want: ``,
		},
		{
			name: "complete filter",
			filter: inventory.{{ .Name | pascalcase }}Filter{
				UUID:        ptr.To(uuidgen.FromPattern(t, "1")),
				Cluster:     ptr.To("cluster"),
{{- if .ServerIDByLocation }}
				Server:      ptr.To("server"),
{{- end }}
{{- if .HasProject }}
				ProjectName: ptr.To("project"),
{{- end }}
{{- if .HasParent }}
				{{ .ParentName | pascalcase }}Name: ptr.To("{{ .ParentName }}"),
{{- end }}
				Name:        ptr.To("name"),
				Expression:  ptr.To("true"),
			},

			want: `cluster=cluster&filter=true&name=name{{ if .HasParent }}&parent={{ .ParentName }}{{ end }}{{ if .HasProject }}&project=project{{ end }}{{ if .ServerIDByLocation }}&server=server{{ end }}&uuid=11111111-1111-1111-1111-111111111111`,
		},
	}

	for _, tc := range tests {
		t.Run(tc.name, func(t *testing.T) {
			require.Equal(t, tc.want, tc.filter.String())
		})
	}
}
