export interface {{ .Name | pascalcase }} {
  uuid: string;
  cluster: string;
{{- if .ServerIDByLocation }}
  server: string;
{{- end }}
{{- if .HasProject }}
  project_name: string;
{{- end }}
{{- if .HasParent }}
  parent_name: string;
{{- end }}
  name: string;
{{- range .ExtraAttributes }}
  {{ .Name }}: string;
{{- end }}
  object: string;
  last_updated: string;
}
