{{- range .IncusPreseed.Certificates -}}
resource "incus_certificate" "{{ .Name }}" {
  name        = "{{ .Name }}"
  description = "{{ .Description }}"
  restricted  = {{ .Restricted }}
  projects    = {{ toJson .Projects }}
  type        = "{{ .Type }}"
  certificate = <<EOT
{{ .Certificate }}
EOT
}

{{ end -}}
