---

network:
  # address is the the URL, where Operations Center is publically reachable.
  # This is used in the seed configuration for IncusOS instances in order
  # to point them back to Operations Center.
  address: ""

  # Address to bind the REST server to. If empty, the REST server is disabled.
  # Use ":" to bind to all unicast and anycast addresses (IPv4 and IPv6).
  # Use "::" or "[::]" to bind to all IPv6 addresses and "0.0.0.0" to bind to
  # all IPv4 addresses.
  # If the port is omitted, the default port 7443 is used.
  rest_server_address: ""

security:
  # Array of SHA256 certificate fingerprints that belong to trusted TLS clients.
  trusted_tls_client_cert_fingerprints: []

  # OIDCconfiguration.
  oidc:
    issuer: ""
    client_id: ""
    scopes: ""
    audience: ""
    claim: ""

  # OpenFGA configuration
  openfga:
    api_token: ""
    api_url: ""
    store.id: ""

updates:
  # URL of the server providing updates for incus-os.
  source: https://images.linuxcontainers.org/os/

  # Certificate used to verify the signature of updates provided
  # by `updates.source`.
  signature_verification_root_ca: |
    -----BEGIN CERTIFICATE-----
    MIIBxTCCAWugAwIBAgIUKFh7jSFs4OIymJR60kMDizaaUu0wCgYIKoZIzj0EAwMw
    ODEbMBkGA1UEAwwSSW5jdXMgT1MgLSBSb290IEUxMRkwFwYDVQQKDBBMaW51eCBD
    b250YWluZXJzMB4XDTI1MDYyNjA4MTA1NFoXDTQ1MDYyMTA4MTA1NFowODEbMBkG
    A1UEAwwSSW5jdXMgT1MgLSBSb290IEUxMRkwFwYDVQQKDBBMaW51eCBDb250YWlu
    ZXJzMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEkuL+o9TxVlcmn7rQjSQUPtVW
    YhISgnMOWIMbg4sh0hWh5LJeH7mPA41I80TAR84O+rcnj/AtFG+O2dZgTK47UaNT
    MFEwHQYDVR0OBBYEFERR7s37UYWIfjdauwuftLTUULcaMB8GA1UdIwQYMBaAFERR
    7s37UYWIfjdauwuftLTUULcaMA8GA1UdEwEB/wQFMAMBAf8wCgYIKoZIzj0EAwMD
    SAAwRQIhAId625vznH0/C9E/gLLRz5S95x3mZmqIHOQBFHRf2mLyAiB2kMK4Idcn
    dzfuFuN/tMIqY355bBYk3m6/UAIK5Pum/Q==
    -----END CERTIFICATE-----

  # Filter expression for updates using https://expr-lang.org/ on struct
  # provisioning.Update.
  # If a filter is defined, the filter needs to evaluate to true for the update
  # being fetched by Operations Center.
  # Empty filter expression does fallback to the default value defined below.
  # To disable filtering, set to "true", which causes the filter to allow all
  # updates.
  filter_expression: '"stable" in channels'

  # Filter expression for update files using https://expr-lang.org/ on struct
  # provisioning.UpdateFile.
  # If a filter is defined, the filter needs to evaluate to true for the file
  # being fetched by Operations Center.
  # Empty filter expression does fallback to the default value defined below.
  # To disable filtering, set to "true", which causes the filter to allow all
  # files.
  #
  # For file filter expression, the following helper functions are available:
  #   - applies_to_architecture(arch string, expected_arch string) bool
  #       Returns true if the 'arch' string matches the given 'expected_arch' string
  #       or if 'arch' is not set.
  file_filter_expression: 'applies_to_architecture(architecture, "x86_64")'
