---

name: Builds
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  client:
    name: Client binaries
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5

      - name: Build binaries
        run: |
          make operations-center

      - name: Upload client (Linux)
        uses: actions/upload-artifact@v4
        with:
          name: Linux
          path: bin/*linux*

      - name: Upload client (MacOS)
        uses: actions/upload-artifact@v4
        with:
          name: macos
          path: bin/*macos*

      - name: Upload client (Windows)
        uses: actions/upload-artifact@v4
        with:
          name: Windows
          path: bin/*windows*

  ui:
    name: UI
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install UI dependencies
        uses: borales/actions-yarn@v4
        with:
          cmd: install
          dir: ui

      - name: Build UI
        uses: borales/actions-yarn@v4
        with:
          cmd: build
          dir: ui

      - name: Upload UI artifact
        uses: actions/upload-artifact@v4
        with:
          name: UI
          path: ui/dist/

  documentation:
    name: Documentation
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-tags: true

      - name: Install dependencies
        run: |
          sudo apt-get install -y aspell aspell-en
          sudo snap install mdl
      - name: Run markdown linter
        run: |
          make doc-lint
      - name: Run spell checker
        run: |
          make doc-spellcheck
      - name: Run inclusive naming checker
        uses: get-woke/woke-action@v0
        with:
          fail-on-error: true
          woke-args: "*.md **/*.md -c https://github.com/canonical/Inclusive-naming/raw/main/config.yml"

      - name: Run link checker
        run: |
          make doc-linkcheck
      - name: Build docs (Sphinx)
        run: make doc

      - name: Print warnings (Sphinx)
        run: if [ -s doc/.sphinx/warnings.txt ]; then cat doc/.sphinx/warnings.txt; exit 1; fi

      - name: Upload documentation artifacts
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: documentation
          path: doc/html
